import React from 'react';

import { AdminLayout } from "@layouts";

import {{properCase name}}Props from './types';

const {{properCase name}} = (props: {{properCase name}}Props) => (
  <AdminLayout>
    <h1>{{properCase name}} Layout</h1>
  </AdminLayout>
);

{{properCase name}}.defaultProps = {};

export default {{properCase name}};