import React from 'react';
import {{properCase name}}Props from './types';

const {{properCase name}} = (props: {{properCase name}}Props) => (
  <div>
    <h1>{{properCase name}} Component</h1>
  </div>
);

{{properCase name}}.defaultProps = {};

export default {{properCase name}};