import React from 'react';
import styled from "styled-components";

import {{properCase name}}Props from './types';

const Container = styled.div``

const {{properCase name}} = (props: {{properCase name}}Props) => (
  <Container>
    <h1>{{properCase name}} Component</h1>
  </Container>
);

{{properCase name}}.defaultProps = {};

export default {{properCase name}};