import React from 'react';
import styled from "styled-components";

import { AppLayout } from "@layouts";
import Grid from "@components/Grid";

import {{properCase name}}Props from './types';

const {{properCase name}} = (props: {{properCase name}}Props) => (
  <AppLayout>
    <Grid>
      <Grid.Item mobile={12} justifySelf="center">
        <h1>Coming soon!</h1>
      </Grid.Item>
    </Grid>
  </AppLayout>
);

{{properCase name}}.defaultProps = {};

export default {{properCase name}};