import React from 'react';
import { AppLayout } from "@layouts";


import {{properCase name}}Props from './types';

const {{properCase name}} = (props: {{properCase name}}Props) => (
  <AppLayout>
    <h1>{{properCase name}} Layout</h1>
  </AppLayout>
);

{{properCase name}}.defaultProps = {};

export default {{properCase name}};